/* General sizing */
.dropdown-form-size {
  width: 386px;
}

#carousel-slide-image {
  object-fit: cover;
  filter: brightness(50%);
}

#carousel-slide-image:hover {
  object-fit: cover;
  filter: brightness(35%);
}